    <section id="about">
        <div class="container" >
            <div class="row">
                <div class="col-lg-6 col-sm-6 text-center">
                    <!-- TODO: fix vertical alignment properly -->
                    <!-- TODO: fix the stretching of the image to never be longer than the text -->
                    <img src="img/ben_1900.jpg" width="80%">
                </div>
                <div class="col-lg-6 col-sm-6">
                    <h2 class="section-heading-black text-center">About me</h2>
                    <hr>
                    <p class="text-big">
I am Ben van Werkhoven, a computer scientist and 
research software engineer.
My main research interests are in optimization, performance modeling, and
using Graphics Processing Units (GPUs) for
scientific computing.
I use GPUs to accelerate computations in many different research projects that span
a wide range of scientific disciplines.
                    </p>
                    <p class="text-big">
One of the things I enjoy the most in my work is building tools that solve problems I
have experienced firsthand, and use those tools to become more effective in my daily work.
                    </p>
                    <p class="text-big">
You can find my <a class="black-underlined" href="publist.html">publication list here</a>.
                    </p>
                    <div class="text-center"><a href="#research" class="page-scroll btn btn-default btn-xl sr-button">Read more</a></div>
                </div>
            </div>
        </div>
    </section>

