    <section id="about">
        <div class="container" >
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-6 text-center">
                    <!-- TODO: fix vertical alignment properly -->
                    <!-- TODO: fix the stretching of the image to never be longer than the text -->
                    <img src="img/ben_1900.jpg" width="100%">
                </div>
                <div class="col-lg-5 col-sm-6 text-justify">
                    <h2 class="section-heading-black text-center">About me</h2>
                    <hr>
                    <p class="text-big">
                    I am Ben van Werkhoven.
                    </p>
                    <p class="text-big">
                     I am a research software engineer, computer scientist, and data scientist, interested in
                    GPU Computing, which I apply and research as part of many different scientific projects at the Netherlands eScience Center.
                    </p>
                    <p class="text-big">
                    What I enjoy the most is building tools that solve problems I have experienced firsthand and use those tools to become more effective
                    in my daily research and coding.
                    </p>
                    <div class="text-center"><a href="#research" class="page-scroll btn btn-default btn-xl sr-button">Read more</a></div>
                </div>
            </div>
        </div>
    </section>

