<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading-black">Get in touch!</h2>
                <hr class="primary">
            </div>

    {% for col in site.collections %}
    {% if col.label == "contacts" %}

        {% for item in col.docs %}

        {% if forloop.first %}
        <div class="col-md-2 col-md-offset-2 col-sm-6 text-center">
        {% else %}
        <div class="col-md-2 col-sm-6 text-center">
        {% endif %}
            <a style="color: black; text-decoration: none" href="{{ item.link }}">
            <i class="{{ item.logo }} sr-contact"></i>
            <h3>{{ item.title }}</h3>
            </a>
        </div>

        {% endfor %}
    {% endif %}

    {% endfor %}



    </div>
</section>
